body {
  background-image: url(../images/image1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.lightningtype {
  color: mediumorchid;
}

.windtype {
  color: green;
}

.quantumtype {
  color: dodgerblue;
}

.icetype {
  color: cyan;
}

.imaginarytype {
  color: gold;
}