body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #7fbfff;
  color: #fff;
}

.firetype {
  color: red;
}

.electype {
  color: violet;
}

.windtype {
  color: green;
}