body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #7fbfff;
  color: #fff;
}

.lightningtype {
  color: mediumorchid;
}

.windtype {
  color: green;
}

.quantumtype {
  color: blue;
}

.icetype {
  color: cyan;
}

.imaginarytype {
  color: gold;
}